# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

# What is the average weight of all players who played during this time?

In [1]:
import pandas as pd

In [2]:
asdata = pd.read_csv('allstar.csv')
asdata

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
...,...,...,...,...,...,...,...,...,...
434,2000,Antonio McDyess,F,6-9,245,Denver Nuggets,Western All-Star Coaches Selection,1995 Rnd 1 Pick 2,United States
435,2000,Gary Payton,G,6-4,180,Seattle SuperSonics,Western All-Star Coaches Selection,1990 Rnd 1 Pick 2,United States
436,2000,Rasheed Wallace,FC,6-11,230,Portland Trail Blazers,Western All-Star Coaches Selection,1995 Rnd 1 Pick 4,United States
437,2000,David Robinson,C,7-1,250,San Antonio Spurs,Western All-Star Coaches Selection,1987 Rnd 1 Pick 1,United States
438,2000,Vlade Divac,C,7-1,260,Sacramento Kings,Western All-Star Replacement Selection,1989 Rnd 1 Pick 26,Serbia

In [6]:
asdata.describe()['WT']

count    439.000000
mean     228.751708
std       30.834435
min      165.000000
25%      210.000000
50%      235.000000
75%      246.000000
max      325.000000
Name: WT, dtype: float64

## 1- 228 lbs

# What team is represented the most during this time?

In [26]:
asdata['Team'].nunique()

asdata.Team.value_counts()

# asdata.groupby('Team')[['Player']].nunique().sort_values(['Player'], ascending=False)

Miami Heat                28
Boston Celtics            26
Los Angeles Lakers        25
San Antonio Spurs         25
Houston Rockets           20
Dallas Mavericks          18
Atlanta Hawks             18
Phoenix Suns              18
Cleveland Cavaliers       17
Toronto Raptors           16
Detroit Pistons           15
Indiana Pacers            15
Los Angeles Clippers      14
Orlando Magic             14
Washington Wizards        13
Oklahoma City Thunder     13
Minnesota Timberwolves    12
Chicago Bulls             12
New Jersey Nets           12
Philadelphia Sixers       11
Golden State Warriors     11
Sacramento Kings          11
New York Knicks           10
Portland Trail Blazers    10
Utah Jazz                  9
Denver Nuggets             9
New Orleans Hornets        9
Seattle SuperSonics        8
Memphis Grizzlies          6
Milwaukee Bucks            5
New Orleans Pelicans       4
Charlotte Hornets          2
Brooklyn Nets              2
Charlotte Bobcats          1
Name: Team, dtype: int64

## 2- Miami Heat

# What draft class is represeted the most during this time?

In [27]:
asdata.keys()

Index(['Year', 'Player', 'Pos', 'HT', 'WT', 'Team', 'Selection Type',
       'NBA Draft Status', 'Nationality'],
      dtype='object')

In [31]:
asdata['NBA Draft Status'].value_counts().sort_values(ascending=False).head(20)

1996 Rnd 1 Pick 13    16
1997 Rnd 1 Pick 1     13
1998 Rnd 1 Pick 9     13
2003 Rnd 1 Pick 1     13
2003 Rnd 1 Pick 5     12
1995 Rnd 1 Pick 5     12
2003 Rnd 1 Pick 4     11
1996 Rnd 1 Pick 1     10
1998 Rnd 1 Pick 10    10
2003 Rnd 1 Pick 3      9
1996 Rnd 1 Pick 5      9
2005 Rnd 1 Pick 4      9
2004 Rnd 1 Pick 1      8
1996 Rnd 1 Pick 15     8
2002 Rnd 1 Pick 1      8
2007 Rnd 1 Pick 2      8
1992 Rnd 1 Pick 1      8
1994 Rnd 1 Pick 2      7
2001 Rnd 1 Pick 10     7
1997 Rnd 1 Pick 9      7
Name: NBA Draft Status, dtype: int64

## 3- 1996 depending on how you view this question

# Are foriegn players more prevalent in the All-Star Game during this time?

In [32]:
asdata['Nationality'].value_counts().sort_values(ascending=False).head(20)

United States                        365
Germany                               13
Spain                                  9
Canada\nSouth Africa                   8
China                                  8
France                                 6
United States\nAustralia               4
Dominican Republic\nUnited States      4
Serbia\nGreece                         3
Argentina                              2
France\nUnited States                  2
England\nSouth Sudan                   2
Lithuania                              2
Democratic Republic of the Congo       2
Germany\nUnited States                 2
United States\nGermany                 1
Turkey                                 1
Russia                                 1
Canada                                 1
Greece\nNigeria                        1
Name: Nationality, dtype: int64

## 4- Not even close unless we're comparing to data outside of set provided.

# How often are the Western All-Stars voted in by fans?

In [33]:
asdata.keys()

Index(['Year', 'Player', 'Pos', 'HT', 'WT', 'Team', 'Selection Type',
       'NBA Draft Status', 'Nationality'],
      dtype='object')

In [37]:
# w = asdata[asdata['Selection Type'] == 'Western All-Star Fan Vote Selection']
asdata['Selection Type'].value_counts()

Western All-Star Coaches Selection        119
Eastern All-Star Coaches Selection        119
Western All-Star Fan Vote Selection        85
Eastern All-Star Fan Vote Selection        85
Eastern All-Star Replacement Selection     16
Western All-Star Replacement Selection     15
Name: Selection Type, dtype: int64

## 5- 85 times

# How many times does Steph Curry make the All-Star game during this time period?

In [38]:
asdata.keys()

Index(['Year', 'Player', 'Pos', 'HT', 'WT', 'Team', 'Selection Type',
       'NBA Draft Status', 'Nationality'],
      dtype='object')

In [39]:
sc = asdata[asdata['Player'] == 'Stephen Curry']
sc

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
41,2015,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
63,2014,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
87,2013,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States

## 6- 4 times, 2013-2016

# How many Shooting Gaurds have made the All-Star game during this time?

In [40]:
asdata['Pos'].value_counts()

G      72
FC     61
SG     57
PF     57
C      50
F      45
PG     36
SF     35
GF     22
F-C     3
G-F     1
Name: Pos, dtype: int64

## 7- 57

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [41]:
asdata['Team'].value_counts()

Miami Heat                28
Boston Celtics            26
Los Angeles Lakers        25
San Antonio Spurs         25
Houston Rockets           20
Dallas Mavericks          18
Atlanta Hawks             18
Phoenix Suns              18
Cleveland Cavaliers       17
Toronto Raptors           16
Detroit Pistons           15
Indiana Pacers            15
Los Angeles Clippers      14
Orlando Magic             14
Washington Wizards        13
Oklahoma City Thunder     13
Minnesota Timberwolves    12
Chicago Bulls             12
New Jersey Nets           12
Philadelphia Sixers       11
Golden State Warriors     11
Sacramento Kings          11
New York Knicks           10
Portland Trail Blazers    10
Utah Jazz                  9
Denver Nuggets             9
New Orleans Hornets        9
Seattle SuperSonics        8
Memphis Grizzlies          6
Milwaukee Bucks            5
New Orleans Pelicans       4
Charlotte Hornets          2
Brooklyn Nets              2
Charlotte Bobcats          1
Name: Team, dtype: int64

## 8- 12